arrow==1.2.2
asgiref==3.4.1
astroid==2.15.1
attrs==21.4.0
autobahn==21.2.1
Automat==20.2.0
blessed==1.19.1
boto3==1.28.78
botocore==1.31.78
cairocffi==1.6.1
CairoSVG==2.1.3
certifi==2023.5.7
cffi==1.15.0
channels==3.0.4
chardet==3.0.4
constantly==15.1.0
cryptography==36.0.2
cssselect2==0.2.1
daphne==3.0.2
defusedxml==0.5.0
diff-match-patch==20200713
distlib==0.3.4
Django==3.2.23
django-adminlte3==0.1.6
django-crispy-forms==1.13.0
django-debug-toolbar==3.8.1
django-environ==0.8.1
django-import-export==2.7.1
django-material==1.10.0
django-picklefield==3.0.1
django-q==1.3.9
django-storages==1.12.3
dj-database-url==2.0.0
django-widget-tweaks==1.4.2
et-xmlfile==1.1.0
filelock==3.4.1
geopy==1.12.0
gunicorn==20.1.0
html5lib==1.0.1
hyperlink==21.0.0
idna==2.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
incremental==21.3.0
isort==4.3.4
lazy-object-proxy==1.4.0
MarkupPy==1.14
material==0.1
mccabe==0.6.1
#mysqlclient==1.4.6
odfpy==1.4.1
openpyxl==3.0.9
pdfrw==0.4
Pillow==5.1.0
pipenv==2022.4.8
platformdirs==2.4.0
#psycopg2==2.7.7
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.18
pylint==3.0.0a6
pyOpenSSL==22.0.0
Pyphen==0.9.4
python-dateutil==2.8.2
pytz==2018.3
PyYAML==5.3.1
redis==3.5.3
requests==2.31.0
s3transfer==0.5.1
service-identity==21.1.0
six==1.11.0
sqlparse==0.4.4
tablib==3.1.0
tinycss2==0.6.1
Twisted==22.2.0
txaio==22.2.1
typing-extensions==4.1.1
urllib3==2.0.4
virtualenv==20.14.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
WeasyPrint==0.42.3
webencodings==0.5.1
whitenoise==5.3.0
wrapt==1.11
xlrd==2.0.1
xlwt==1.3.0
z3c.pt==3.3.1
zc.lockfile==2.0
zipp==3.6.0
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==5.0.1
zope.configuration==4.4.0
zope.container==4.5.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.datetime==4.3.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.5.0
zope.exceptions==4.5
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.1.0
zope.i18n==4.9.0
zope.i18nmessageid==5.0.1
zope.interface==5.4.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.6.0
zope.processlifetime==2.3.0
zope.proxy==4.5.0
zope.ptresource==4.3.0
zope.publisher==6.1.0
zope.schema==6.2.0
zope.security==5.2
zope.sequencesort==4.2
zope.site==4.5.0
zope.size==4.3
zope.structuredtext==4.4
zope.tal==4.5
zope.tales==5.1
zope.testbrowser==5.6.1
zope.testing==4.10
zope.traversing==4.4.1
zope.viewlet==4.3
